* {
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
}
#main-content {
  display: flex;
}
#map {
  width: 40vw;
  height: 80vh;
  position: absolute;
}
#menu {
  position: absolute;
  background: #efefef;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
}
::-webkit-scrollbar {
  width: 8px;
  height: 50px;
}
::-webkit-scrollbar-track {
  border: 3px solid rgba(0, 0, 0, 0.623);
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.349);
  border-radius: 1px;
}
#wrapper {
  width: 97%;
  height: 100vh;
  padding: 10px 10px 10px 10px;
  background-color: black;
  margin-left: 10px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#wrapper #covidHeader {
  display: grid;
  grid-template-columns: 100px 1fr;
  justify-content: center;
  align-content: center;
  align-self: center;
  width: 100%;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.349);
  color: white;
  border: 0.5px solid rgba(255, 255, 255, 0.315);
}
#wrapper #covidHeader img {
  width: 48px;
  height: 48px;
  margin-left: 50px;
  background-color: rgba(0, 0, 0, 0.048);
}
#wrapper #covidHeader .covidHeader_header {
  text-transform: capitalize;
  font-size: 36px;
  padding: 5px 0px 0px 180px;
}
#wrapper #left-bar {
  width: 27%;
  height: 80vh;
  margin-top: 15px;
}
#wrapper #left-bar #left-bar_sidebar1 {
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 38vh;
  background-color: rgba(255, 255, 255, 0.349);
  color: white;
  border: 0.5px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 15px;
}
#wrapper #left-bar #left-bar_sidebar1 #left-bar_sidebar1_lead1 {
  display: inline-block;
  text-transform: capitalize;
  margin: 10px 0px 0px 110px;
  font-weight: bold;
}
#wrapper #left-bar #left-bar_sidebar1 #left-bar_sidebar1_lead2 {
  color: red;
  display: inline-block;
  display: flex;
  font-size: 30px;
  justify-content: center;
  align-self: center;
  margin-top: 5px;
  font-weight: bold;
}
#wrapper #left-bar #left-bar_sidebar1 #left-bar_sidebar1_lead3 {
  height: 28vh;
  overflow-y: scroll;
  font-size: 20px;
}
#wrapper #left-bar #left-bar_sidebar1 #left-bar_sidebar1_lead3 button {
  width: 100%;
  display: block;
  color: whitesmoke;
  background-color: #000000;
  border: 0;
  margin-bottom: 1px;
  text-decoration: none;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
  padding-left: 15px;
  font-size: 16px;
}
#wrapper #left-bar #left-bar_sidebar1 #left-bar_sidebar1_lead3 button:hover {
  color: red;
  background-color: darkred;
  font-size: larger;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#wrapper #left-bar #left-bar_sidebar2 {
  width: 100%;
  height: 40vh;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.349);
  color: white;
  border: 0.5px solid rgba(255, 255, 255, 0.1);
}
#wrapper #left-bar #left-bar_sidebar2 #left-bar_sidebar2_lead1 {
  display: inline-block;
  text-transform: capitalize;
  margin: 5px 0px 0px 110px;
  font-weight: bold;
}
#wrapper #left-bar #left-bar_sidebar2 #left-bar_sidebar2_lead2 {
  color: orange;
  display: inline-block;
  display: flex;
  font-size: 30px;
  justify-content: center;
  align-self: center;
  margin-top: 5px;
  font-weight: bold;
}
#wrapper #left-bar #left-bar_sidebar2 #left-bar_sidebar2_lead3 {
  margin-top: 15px;
  height: 28vh;
  overflow-y: scroll;
  font-size: 20px;
}
#wrapper #left-bar #left-bar_sidebar2 #left-bar_sidebar2_lead3 button {
  width: 100%;
  display: block;
  color: whitesmoke;
  background-color: #000000;
  border: 0;
  margin-bottom: 1px;
  text-decoration: none;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.1);
  padding-left: 15px;
  font-size: 16px;
}
#wrapper #left-bar #left-bar_sidebar2 #left-bar_sidebar2_lead3 button:hover {
  color: orange;
  background-color: darkred;
  font-size: larger;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#wrapper #map-section {
  width: 40vw;
  height: 80vh;
  margin: 15px;
  margin-bottom: 15px;
  opacity: 10;
}
#wrapper #right-bar {
  width: 30%;
  height: 80vh;
  display: flex;
  flex-direction: column;
}
#wrapper #right-bar #caseDetailsRight {
  width: 100%;
  height: 38vh;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
}
#wrapper #right-bar #caseDetailsRight #right-bar_sidebar1 {
  width: 50%;
  height: 36vh;
  background-color: rgba(255, 255, 255, 0.349);
  color: white;
  border: 0.5px solid rgba(255, 255, 255, 0.1);
}
#wrapper #right-bar #caseDetailsRight #right-bar_sidebar1 #right-bar_sidebar1_lead1 {
  display: inline-block;
  text-transform: capitalize;
  margin: 10px 0px 0px 45px;
  font-weight: bold;
}
#wrapper #right-bar #caseDetailsRight #right-bar_sidebar1 #right-bar_sidebar1_lead2 {
  color: blue;
  display: inline-block;
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-self: center;
  margin-top: 5px;
  font-weight: bold;
}
#wrapper #right-bar #caseDetailsRight #right-bar_sidebar1 #right-bar_sidebar1_lead3 {
  margin-top: 15px;
  height: 25.5vh;
  overflow-y: scroll;
  font-size: 20px;
}
#wrapper #right-bar #caseDetailsRight #right-bar_sidebar1 #right-bar_sidebar1_lead3 button {
  width: 100%;
  display: block;
  color: whitesmoke;
  background-color: #000000;
  border: 0;
  margin-bottom: 1px;
  text-decoration: none;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.1);
  padding-left: 15px;
  font-size: 16px;
}
#wrapper #right-bar #caseDetailsRight #right-bar_sidebar1 #right-bar_sidebar1_lead3 button:hover {
  color: blue;
  background-color: darkred;
  font-size: larger;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#wrapper #right-bar #caseDetailsRight #right-bar_sidebar2 {
  width: 50%;
  height: 36vh;
  background-color: rgba(255, 255, 255, 0.349);
  color: white;
  border: 0.5px solid rgba(255, 255, 255, 0.1);
}
#wrapper #right-bar #caseDetailsRight #right-bar_sidebar2 #right-bar_sidebar2_lead1 {
  display: inline-block;
  text-transform: capitalize;
  margin: 10px 0px 0px 30px;
  font-weight: bold;
}
#wrapper #right-bar #caseDetailsRight #right-bar_sidebar2 #right-bar_sidebar2_lead2 {
  color: green;
  display: inline-block;
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-self: center;
  margin-top: 5px;
  font-weight: bold;
}
#wrapper #right-bar #caseDetailsRight #right-bar_sidebar2 #right-bar_sidebar2_lead3 {
  margin-top: 15px;
  height: 25.5vh;
  overflow-y: scroll;
  font-size: 20px;
}
#wrapper #right-bar #caseDetailsRight #right-bar_sidebar2 #right-bar_sidebar2_lead3 button {
  width: 100%;
  display: block;
  color: whitesmoke;
  background-color: #000000;
  border: 0;
  margin-bottom: 1px;
  text-decoration: none;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.1);
  padding-left: 15px;
  font-size: 16px;
}
#wrapper #right-bar #caseDetailsRight #right-bar_sidebar2 #right-bar_sidebar2_lead3 button:hover {
  color: green;
  background-color: darkred;
  font-size: larger;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#wrapper #right-bar #canva {
  width: 350px;
  height: 220px;
  background-color: black;
}
#wrapper #main-footer {
  width: 100%;
  display: flex ;
  flex-direction: column;
  align-items: center;
  height: 40px;
  color: whitesmoke;
  padding: 5px;
  font-weight: bold;
}
